In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\dell\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pandas as pd 
pd.__version__

'2.2.2'

In [13]:
import pandas as pd
data= [10,20,30,40,50]
s= pd.Series(data)
print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [17]:
s.values

array([10, 20, 30, 40, 50], dtype=int64)

In [19]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [21]:
labelled_data= pd.Series([1,"John",3.5,"Hey"], index= ["a","b","c","d"])
labelled_data

a       1
b    John
c     3.5
d     Hey
dtype: object

In [23]:
labelled_data["d"]

'Hey'

In [25]:
labelled_data.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [62]:
score={"jane":90, "bill":80,"elon":85,"tom":95,"Gp": None}
name= pd.Series(score)
name

jane    90.0
bill    80.0
elon    85.0
tom     95.0
Gp       NaN
dtype: float64

In [40]:
name[name>=85]

jane    90.0
elon    85.0
tom     95.0
dtype: float64

In [46]:
name["Tom"]=60
name[name <=80]= 83
name

C:\Users\DELL\AppData\Local\Temp\ipykernel_12900\3107050317.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Fail' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  name[name <=80]= "Fail"

jane    90.0
bill    Fail
elon    85.0
tom     95.0
Gp       NaN
Tom     Fail
dtype: object

In [56]:
"gagan" in name

True

In [52]:
name["gagan"] = 20

In [54]:
if "gagan" in name: 
    print("gagan is good boy")
else:
    print("gagan doesnot exist in this world")

gagan is good boy

In [64]:
name / 10

jane    9.0
bill    8.0
elon    8.5
tom     9.5
Gp      NaN
dtype: float64

In [66]:
name**2

jane    8100.0
bill    6400.0
elon    7225.0
tom     9025.0
Gp         NaN
dtype: float64

In [68]:
import numpy as np

In [70]:
data= pd.Series([1,2,np.nan,4,5])
data.mean(skipna=True)

3.0

In [72]:
name.isnull()

jane    False
bill    False
elon    False
tom     False
Gp       True
dtype: bool

In [76]:
name.isna()

jane    False
bill    False
elon    False
tom     False
Gp       True
dtype: bool

In [80]:
name.dropna() #remove nan

jane    90.0
bill    80.0
elon    85.0
tom     95.0
dtype: float64

In [84]:
name.fillna(34) #add value to nan

jane    90.0
bill    80.0
elon    85.0
tom     95.0
Gp      34.0
dtype: float64

In [100]:
data={
    "name":["Bill","Tom","Tim","John","Alex"],
    "score":[90,80,85,75,95],
    "sport":["Wrestling","Football","Skiping","Swimming","Cricket"],
    "sex":["M","M","M","F","M"]
}
df=pd.DataFrame(data)

In [5]:
df

NameError: name 'df' is not defined

In [11]:
df.head()

NameError: name 'df' is not defined